**/__pycache__/

Backend/backend/Corpus/Reuters/files/reut2-000.sgm
Backend/backend/Corpus/Reuters/files/reut2-001.sgm
Backend/backend/Corpus/Reuters/files/reut2-002.sgm
Backend/backend/Corpus/Reuters/files/reut2-003.sgm
Backend/backend/Corpus/Reuters/files/reut2-004.sgm
Backend/backend/Corpus/Reuters/files/reut2-005.sgm
Backend/backend/Corpus/Reuters/files/reut2-006.sgm
Backend/backend/Corpus/Reuters/files/reut2-007.sgm
Backend/backend/Corpus/Reuters/files/reut2-008.sgm
Backend/backend/Corpus/Reuters/files/reut2-009.sgm
Backend/backend/Corpus/Reuters/files/reut2-010.sgm
Backend/backend/Corpus/Reuters/files/reut2-011.sgm
Backend/backend/Corpus/Reuters/files/reut2-012.sgm
Backend/backend/Corpus/Reuters/files/reut2-013.sgm
Backend/backend/Corpus/Reuters/files/reut2-014.sgm
Backend/backend/Corpus/Reuters/files/reut2-015.sgm
Backend/backend/Corpus/Reuters/files/reut2-016.sgm
Backend/backend/Corpus/Reuters/files/reut2-017.sgm
Backend/backend/Corpus/Reuters/files/reut2-018.sgm
Backend/backend/Corpus/Reuters/files/reut2-019.sgm
Backend/backend/Corpus/Reuters/files/reut2-020.sgm
Backend/backend/Corpus/Reuters/files/reut2-021.sgm
Backend/api/__pycache__/get_documents_api.cpython-310.pyc
Backend/__pycache__/environment.cpython-310.pyc
